.App {
  margin: 20px
}

.addOne {
  text-align: left;
  margin-left: 10px;
  font-style: italic;
  cursor: pointer;
  text-decoration: underline;
  font-size: 12px;
  padding: 5px
}

.Home {
  margin: 10px;
}

.Header {
  width: 100vw;
}

.Season {
  font-size: 18px;
  color: #00008B;
  position: fixed;
  top: 10px;
  right: 10px;
}

label {
  color: #00008B
}

.send {
  background: #00008B;
  margin-left: 40%;
}

.newlopette {
  margin-top: 10px;
  cursor: pointer;
  margin-right: 10px;
  display: inline;
  width: 200px;
}

.Matchs .Titre {
  padding: 10px;
  font-size: 15px;
  color: #00008B;
}

.Matchs {
  font-size: 12px
}

.Classement {
  margin: 10px;
  font-size: 13px
}

.Classement .title,
.AddPlayer {
  color: #00008B;
  font-size: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.Classement .red {
  color: #D2691E
}

.Classement th svg {
  color: #00008B
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(100vh - 200px);
}

.headerButton {
  margin-left: 15px;
  font-size: 36px;
  color: #00008B;
}

.headerButton.grey {
  color: darkgray
}

.Background {
  position: fixed;
  z-index: 0;
  display: block;
  min-height: 50%;
  min-width: 50%;
  color: yellow;
  margin-top: 200px;
}

.content {
  z-index: 1;
}

.bg-text {
  color: #00008B;
  font-size: 50px;
  transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  opacity: 0.5;
}

.Ceinture {
  width: 80px
}

.miniCeinture {
  width: 30px
}

.grosseLopette {
  background: #C1391C;
  color: white;
  font-weight: bold;
}

.Fleche {
  position: absolute;
  opacity: 0.5;
  margin-top: 5px
}

.Insulte {
  position: absolute;
  margin-top: 55px;
  margin-left: 15px;
  opacity: 0.7
}

.Header .MuiSvgIcon-root {
  font-size: 2.5rem;
  margin-left: 15px;
}

.SelectSeason {
  width: 200px;
  color: #00008B;
  font-size: 15px;
}

.SelectSeason .Title {
  float: left;
  padding-right: 10px;
  padding-top: 5px
}

.react-confirm-alert-body {
  width: 500px !important
}

.Explication .title {
  font-size: 18px;
  color: #00008B;
  padding: 10px;
  padding-left: 0px;
}

.Explication .modal-content {
  padding: 20px;
  width: 55vw
}